.img-center {
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    width: 255px;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.profile-image {
    position: absolute;
}
#profile_file {
    display: none;
}

.by-width {
    width: 100%;
}
.by-height {
    height: 100%;
}
