$mobile-max: 768px;

.img-center {
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    width: 255px;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-box-orient: horizontal;
}
.profile-image {
    position: absolute;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        position: relative;
    }
    @supports (-ms-accelerator: true) {
        position: relative;
    }
}
#profile_file {
    display: none;
}

.by-width {
    width: 100%;
}
.by-height {
    height: 100%;
}
.upload-btn {
    width: 100% !important;
    @media screen and (max-width: $mobile-max) {
        margin: 20px 0;
    }
}
