<div class="yo-search-session" *ngIf='formIsShow === true'>
  <form #searchForm="ngForm">
    <div class="yo-search-wrap">
      <div class="yo-input-wrap" *ngFor="let item of searchObj">
        <label class="fl56" [for]="item.id">{{item.name}}</label>
        <!-- INPUT -->
        <input type="text" class="yo-control" placeholder="키워드" *ngIf='item.type === "input"' [name]='item.id' [id]='item.id' (keyup)="enterSearch($event, searchForm)"
          [(ngModel)]="item.value">
        <!-- SELECT -->
        <select class="yo-control" *ngIf='item.type === "select"' [name]='item.id' [id]='item.id' [(ngModel)]="item.value">
          <option *ngFor='let code of item.data' [value]="code.value">{{code.name}}</option>
        </select>
        <!-- RADIO -->
        <mat-radio-group class="yo-radio" *ngIf='item.type === "radio"' [name]='item.id' [id]='item.id' [(ngModel)]="item.value">
          <mat-radio-button class="yo-radio-button" *ngFor='let code of item.data' [value]="code.value">{{code.name}}</mat-radio-button>
        </mat-radio-group>
        <!-- CHECKBOX -->
        <div class="atzo-checkbox-wrap" *ngIf='item.type === "check"'>
          <mat-checkbox class="atzo-checkbox" [name]='item.id' *ngFor='let code of item.data' [value]="code.value" (change)="inputChange($event)"
            ngModel>{{code.name}}</mat-checkbox>
        </div>
        <!-- DATE -->
        <div class="yo-date-row" *ngIf='item.type === "date"'>
          <input type="text" class="yo-control" [matDatepicker]="yoDateSt" placeholder="시작일" (click)="yoDateSt.open()" [name]='item.id+"_ST"'
            [id]='item.id+"_ST"' (keyup)="enterSearch($event, searchForm)" ngModel>
          <mat-datepicker-toggle matSuffix [for]="yoDateSt"></mat-datepicker-toggle>
          <mat-datepicker #yoDateSt></mat-datepicker>
          <input type="text" class="yo-control" [matDatepicker]="yoDateEd" placeholder="종료일" (click)="yoDateEd.open()" [name]='item.id+"_ED"'
            [id]='item.id+"_ED"' (keyup)="enterSearch($event, searchForm)" ngModel>
          <mat-datepicker-toggle matSuffix [for]="yoDateEd"></mat-datepicker-toggle>
          <mat-datepicker #yoDateEd></mat-datepicker>
        </div>

      </div>
    </div>
  </form>
  <div class="yo-btn-row">
    <div class="yo-btn-left">
      <button mat-raised-button class="default" (click)="reset(searchForm)">초기화</button>
    </div>
    <div class="yo-btn-right">
      <button mat-raised-button id="search-btn" class="mainCta btn-color" (click)="search(searchForm)">검색</button>
    </div>
  </div>
</div>