<ag-grid-angular #yoGrid class="ag-theme-material ag-material yo-grid" [rowData]="rowData" [columnDefs]="columnDefs" [headerHeight]="headerHeight"
  [rowHeight]="rowheight" (modelUpdated)="onModelUpdated($event)" (gridSizeChanged)="onGridSizeChanged($event)" (cellClicked)="onCellClick($event)"
  [pagination]="usePage" [paginationPageSize]="pageSize" [suppressPaginationPanel]="true" (paginationChanged)="onPaginationChanged($event)"
  [suppressMovableColumns]="true" [localeText]="localeText"></ag-grid-angular>

<div class="ag-grid-pagination">

  <div class="ag-grid-pagination-wrap">
    <div class="ag-grid-pagination-left">
      <button class="ag-grid-pagination-btn" (click)="onBtnPagination('First')">
        <i class="fa fa-angle-double-left"></i>
      </button>
      <button class="ag-grid-pagination-btn" (click)="onBtnPagination('Previous')">
        <i class="fa fa-angle-left"></i>
      </button>
    </div>

    <div class="ag-grid-pagination-center" *ngFor="let item of pages[pagesIndex];">
      <button #pageNumber class="ag-grid-pagination-btn" (click)="moveGridPaging(item)">{{item}}</button>
    </div>

    <div class="ag-grid-pagination-right">
      <button class="ag-grid-pagination-btn" (click)="onBtnPagination('Next')">
        <i class="fa fa-angle-right"></i>
      </button>
      <button class="ag-grid-pagination-btn" (click)="onBtnPagination('Last')">
        <i class="fa fa-angle-double-right"></i>
      </button>
    </div>
  </div>

  <div class="ag-grid-pagination-page-size">
    <div class="yo-input-wrap">
      <label for="grid_page_size">페이지당 : </label>
      <select class="yo-control" #changePageSize name="grid_page_size" id="grid_page_size" (change)="pageSizeChange(changePageSize.value)"
        [value]="pageSize">
        <option [value]="item" *ngFor="let item of pageSizeArr">{{item}}</option>
      </select>
    </div>
  </div>

</div>