$mobile-max: 768px;

.ag-material {
    height: 463px;
}
:host /deep/ {
    .ag-material .ag-cell-not-inline-editing {
        display: flex;
        align-items: center;
        padding: 0px;
    }
    .ag-material .ag-cell-focus {
        border: none;
        border-bottom: 1px solid lightgrey;
    }
}
.ag-grid-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    @media screen and (max-width: $mobile-max) {
        margin-top: 10px;
    }
    > .ag-grid-pagination-info {
        margin-right: 10px;
        > .none-in-mob {
            display: inline;
            @media screen and (max-width: $mobile-max) {
                display: none;
            }
        }
    }
    > .ag-grid-pagination-page-size {
        margin-left: 10px;
        display: inline-block;
        @media screen and (max-width: $mobile-max) {
            display: none;
        }
    }
}
.yo-grid-page-text,
.yo-input-wrap > label {
    font-size: 14px;
    color: #aeaeae;
    &.bold {
        font-weight: bold;
    }
}
.ag-grid-pagination-wrap {
    display: flex;
    flex-direction: row;
}
.ag-grid-pagination-center {
    display: inline-block;
    @media screen and (max-width: $mobile-max) {
        display: none;
    }
}
.ag-grid-pagination-btn {
    color: black;
    float: left;
    padding: 6px 12px;
    transition: background-color 0.3s;
    background-color: #fff;
    border-collapse: collapse;
    border: 1px solid #ddd;
    cursor: pointer;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);

    &:active,
    &.active {
        background-color: #4caf50;
        color: white;
        border: 1px solid #4caf50;
    }
    &:hover:not(.active) {
        background-color: #ddd;
    }
}
.yo-control {
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
