.mat-dialog-content {
    overflow: visible;
    max-height: none;
}
.yo-radio-button {
    margin-left: 10px;
    &:first {
        margin-left: none;
    }
}
.yo-btn-row {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    margin-top: 15px;
    > .yo-btn-left,
    .yo-btn-right {
        flex: auto;
    }
    > .yo-btn-right {
        justify-content: flex-end;
        display: flex;
    }
}
