<h1 mat-dialog-title>{{stateObj.title}}</h1>
<div mat-dialog-content>
    <form #stateForm="ngForm">
        <div class="yo-input-wrap">
            <mat-radio-group class="yo-radio" [name]='stateObj.id' [id]='stateObj.id' [(ngModel)]="data.value">
                <mat-radio-button class="yo-radio-button" *ngFor='let code of stateObj.states' [value]="code.value">{{code.name}}</mat-radio-button>
            </mat-radio-group>
        </div>
    </form>
    <div class="yo-btn-row">
        <div class="yo-btn-left">
            <button mat-raised-button (click)="do('close')">닫기</button>
        </div>
        <div class="yo-btn-right">
            <button mat-raised-button color="primary" (click)="do('update')">수정</button>
        </div>
    </div>
</div>