$body-mobile: 420px;
$body-tablet: 992px;
app-root {
    font-size: 16px;
    @media screen and (max-width: $body-mobile) {
        font-size: 12px;
    }

    @media (min-width: $body-mobile) and (max-width: $body-tablet) {
        font-size: 14px;
    }
}
