$mobile-max: 420px;

$btn-primary: #3f51b5;
$btn-primary2: rgb(0, 188, 212);
$btn-green: rgb(164, 198, 57);
$btn-accent: #ff4081;
$btn-alert: #f7b422;
$btn-warm: #f44336;
$btn-basic: #fff;

.main-container {
    margin-top: 56px;
    margin-left: 160px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
:host /deep/ {
    .yo-search-header,
    .yo-detail-top {
        > h1 {
            font-size: 16px !important;
            margin-top: 0px;
            margin-bottom: 10px;
            @media screen and (max-width: $mobile-max) {
                font-size: 14px !important;
            }
        }
    }
    .yo-search-require,
    .yo-detail-middle {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        background-color: #fff;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
            0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        padding: 20px;
        @media screen and (max-width: $mobile-max) {
            padding: 16px;
        }
        > yo-profile {
            flex: 0;
            margin: 0 auto;
        }
        > yo-detail {
            flex: auto;
        }
    }
    .yo-search-grid {
        background-color: #fff;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
            0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        margin-top: 30px;
        padding: 20px;
    }

    .yo-row {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        margin-bottom: 10px;
    }
    .yo-col {
        flex: 1;
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        margin: 0px 10px;
        @media screen and (max-width: $mobile-max) {
            flex: auto;
            margin: 0px;
        }
    }
    .yo-input-wrap {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
        @media screen and (max-width: $mobile-max) {
            display: block;
        }

        > input {
            flex: 1;
        }
        > label {
            max-width: 110px;
            min-width: 110px;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 0px;
            @media screen and (max-width: $mobile-max) {
                //display: none;
                width: 100%;
                display: block;
                font-size: 12px;
            }
        }
        .yo-date-row {
            display: flex;
            flex: auto;
            width: 100%;
        }
    }
    .mat-calendar-table-header th:first {
        color: red;
    }
    .yo-control {
        width: 100%;
        padding: 0px 10px !important;
        border: 1px #e0e0e0 solid !important;
        border-radius: 3px !important;
        height: 35px;
        @media screen and (max-width: $mobile-max) {
            height: 30px;
            font-size: 12px;
        }
    }
    .yo-radio {
        margin-bottom: 5px;
    }
    .yo-radio-button {
        margin-left: 6px;
    }
    .atzo-checkbox {
        margin-left: 6px;
    }
    .yo-btn-row {
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 0 10px;
        margin-top: 15px;
        @media screen and (max-width: $mobile-max) {
            margin: 0px;
        }
        > .yo-btn-left,
        .yo-btn-right {
            flex: auto;
        }
        > .yo-btn-right {
            justify-content: flex-end;
            display: flex;
        }

        button {
            min-width: 100px;
            outline: none;
            @media screen and (max-width: $mobile-max) {
                min-width: 60px;
                font-size: 12px;
                width: 40px;
                padding: 0px;
            }
        }
        button.btn-color {
            color: white;
        }
        button.mainCta {
            background-color: $btn-primary;
        }
        button.primary {
            background-color: $btn-primary2;
        }
        button.green {
            background-color: $btn-green;
        }
        button.positive {
            background-color: $btn-accent;
        }
        button.alert {
            background-color: $btn-alert;
        }
        button.negative {
            background-color: $btn-warm;
        }
        button.default {
            background-color: $btn-basic;
            color: black;
        }
    }
    .ml10 {
        margin-left: 10px;
    }
    .mb10 {
        margin-bottom: 10px;
    }
}
