<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('user_admin')">
                <i class="fa fa-plus"></i>&nbsp; 회원관리
            </a>
            <li class="nested" [class.expand]="showMenu === 'user_admin'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/usr-list']" [routerLinkActive]="['router-link-active']">
                            <span>유효회원</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <span>탈퇴회원</span>
                        </a>
                    </li>
                </ul>
            </li>

            <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-file-o"></i>&nbsp;스터디룸 관리
            </a>

            <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-file-o"></i>&nbsp;상품 관리
            </a>

            <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-file-o"></i>&nbsp;예약 관리
            </a>

            <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-file-o"></i>&nbsp;설정 관리
            </a>

        </div>

        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span>
                        <i class="fa fa-user"></i>&nbsp; 김학요
                    </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span>
                                    <i class="fa fa-fw fa-power-off"></i>로그아웃</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>