<div class="yo-detail-wrap">

  <div class="yo-detail-top">
    <h1>상품관리 > 상품상세</h1>
  </div>

  <div class="yo-detail-middle">

    <yo-detail [detailObj]="detailObj" [detailObjData]="detailData"></yo-detail>

    <div class="yo-btn-row">
      <div class="yo-btn-left">
        <button mat-raised-button class="default" (click)="backToList()">목록</button>
      </div>
      <div class="yo-btn-right">
        <button *ngIf="!isInsert" mat-raised-button class="negative btn-color" (click)="detailDo('delete')">삭제</button>
        <button *ngIf="!isInsert" mat-raised-button class="mainCta btn-color ml10" (click)="detailDo('update')">수정</button>
        <button *ngIf="isInsert" mat-raised-button class="mainCta btn-color ml10" (click)="detailDo('insert')">등록</button>
      </div>
    </div>
  </div>
</div>